<div class="container text-center">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 ">
      <h1>About Page</h1>
      <p>We focus on collectively creating business ideas we'd like to see become a reality! Check out the projects below that are now up and running</p>      
    </div>
  </div>
</div>