<div class="home-callout text-center container-fluid">
  <h1>Welcome to OpenSauce</h1>
  <h3>If you conceptualise it, they will come...</h3>
</div>
</br>
<% if user_signed_in? %>
  <div class="container">
    <div class="row">
      <div class"col-md-12">
        <div class="well">
          <h2 class="text-center">Create Your Profile!</h2>
          <h4 class="text-center">This will help others in the community find you based on your skills </h4>
          <%= link_to "Create Your Profile", new_user_profile_path(user_id: current_user.id), class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="well">
            <h2 class="text-center">Create a project</h2>
            <h4 class="text-center">Get your idea out there and work with the community to perfect it!</h4>
            </br>
        </div>
      </div>
      <div class="col-md-6">
          <div class="well">
            <h2 class="text-center">View projects</h2>
            <h4 class="text-center">See what you can contribute to the community's ideas!</h4>
            </br>
            <%= link_to "Inspire me", projects_path, class: 'btn btn-default btn-lg btn-block' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="navbar navbar-fixed-bottom custom-footer">
    <div class="col-md-12">
    </div>
  </div>
</div>