<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Edit your project</h1>
      <p class="text-center">Include as much detail, positive or negative, to help the community assist as best as possible!</p>
      <div class="well">
          <%= render 'form' %>
      </div>
    </div>
  </div>
</div>