/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


// Typography styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

// Backgroun Gradient
.navbar, .home-callout {
  // Gradient provided by @_ighosh at UIGradients.com
  background: #c0c0aa; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c0c0aa , #1ce); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c0c0aa , #1ce); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav Styles
.navbar {
  border: none;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a,
.navbar-nav .navbar-center > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-nav .navbar-center ul {
  display:inline-block;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color:  #c0c0aa;
  }
}

// Homepage Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.alert-notice {
  display: none;
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
}

.flash-container {
  position: absolute;
  width: 100%;
}

.user-profile-block {
  margin-top: 50px;
}

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
}

.project-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.plan {
  margin-top: 0;
}

.project-title {
  font-weight: bold;
  font-size: 1.5em;
}

.project-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.project-meta-details {
  color: black;
}

.input_checkbox input {
  width: auto !important;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  opacity: 0.75;
}